model_config_list {
  config {
    name: 'm15'
    base_path: '/models/m15/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'm30'
    base_path: '/models/m30/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'h1'
    base_path: '/models/h1/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'h3'
    base_path: '/models/h3/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'h4'
    base_path: '/models/h4/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'h8'
    base_path: '/models/h8/'
    model_platform: 'tensorflow'
  }
}